.languagesRadioGroup {
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: @primaryColor;
    border-color: @primaryColor;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: @primaryColor;
  }

  .flagRadioButton {
    height: auto;
    .flags {
      height: 70px;
      width: auto;
      font-size: 40px !important;
      line-height: 70px !important;
    }
  }
}

.ant-divider {
  .ant-divider-horizontal {
    width: 80%;
    min-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
}
