.statisticsBarChart {
  left: calc((100% - 1000px) / 2);
  padding: 40px 0;

  .recharts-bar-rectangle {
    stroke: white;
  }

  .recharts-layer:hover {
    background-color: yellow;
  }

  line {
    stroke: white;
    stroke-width: 2px;
  }

  tspan {
    stroke: white;
    font-size: 12px;
  }
}
