.mainLayout {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: @primaryColor;

  .appContent {
    position: relative;
    top: 0;
    bottom: 0;

    .mainPage {
      height: 100%;
      background-color: @primaryColor;
      color: @fontColor;
      overflow-x: hidden;
      overflow-y: auto;
      min-width: 450px;
    }
  }

  .sidebar {
    width: 200px;

    .sidebarToggleSpan {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;

      .sidebarToggleIcon {
        color: @fontColor;
        font-size: @fontTitle;
      }
    }
    .logo {
      width: 100%;
      text-align: center;
      margin: 30px 0;
      .logoTitle {
        width: 80%;
        cursor: pointer;
        filter: brightness(0) invert(1);
        padding: 10px;
        transition: @smallTransitionTime;
      }
    }

    .logoSelected {
      background-color: @hoverElemColor;
    }
  }
  .ant-layout-sider {
    background: transparent;
    background-color: @darkSecondaryColor;

    .ant-menu-dark {
      background: transparent;
      .ant-menu-item-selected {
        background-color: @hoverElemColor;
      }
      .ant-menu-inline.ant-menu-sub {
        background-color: @darkSecondaryColor;
      }
    }
    .ant-menu-submenu-open {
      color: @fontColor;
      background-color: @hoverElemColor;
    }
  }
}
