.mainLayout {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: @primaryColor;

  .appContent {
    position: relative;
    top: 0;
    bottom: 0;
    overflow-x: hidden !important;

    .mainPage {
      height: 100%;
      background-color: @primaryColor;
      color: @fontColor;
      overflow-x: hidden;
      overflow-y: auto;
      min-width: 450px;
    }
  }

  .sidebar {
    width: 200px;
    font-family: @fontFamily;
    .sidebarToggleSpan {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;

      .sidebarToggleIcon {
        color: @fontColor;
        font-size: @fontTitle;
      }
    }
    .logo {
      width: 100%;
      height: auto;
      text-align: center;
      margin: 20% 0;
      padding: 10px 20px 10px 10px !important;
      .logoTitle {
        max-height: 100px;
        max-width: 85px;
        width: 100%;
        margin: 20px 0;
        cursor: pointer;
        filter: brightness(0) invert(1);
        transition: @smallTransitionTime;
      }
    }

    .logoSelected {
      background-color: @darkSecondaryColor;
    }
  }

  .ant-layout-sider {
    background: transparent;
    background-color: @secondaryColor;

    .ant-menu-dark {
      background: transparent;
      .ant-menu-item-selected {
        background-color: @darkSecondaryColor;
      }
      .ant-menu-inline.ant-menu-sub {
        background-color: @darkSecondaryColor;
      }
    }
    .ant-menu-submenu-open {
      color: @fontColor;
      background-color: @hoverElemColor;
    }
  }
}
