.modalTitleCentered {
  width: 200px;
  text-align: center;
}

.gameFullDiv {
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  filter: brightness(80%);
  z-index: 1000;
  animation: appearSlowly 1s 1;
  animation-fill-mode: forwards;

  .resumeGameQuestion {
    color: black;
    align-self: center;
    font-weight: bold;
    font-size: @fontTitle;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .resumeGameQuestion:first-child {
    top: calc((100% - 510px) / 2);
  }
  .resumeGameQuestion:nth-child(2) {
    top: calc(((100% - 510px) / 2) + 200px);
  }
  .resumeGameQuestion:nth-child(3) {
    top: calc(((100% - 510px) / 2) + 300px);
  }
}

@keyframes appearSlowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resumeGameAnimatedButton span {
  color: black;
}

.resumeGameAnimatedButton {
  align-self: center;
  width: 100%;
  font-weight: bold;
  color: black;
}

.resumeGameAnimatedButton::after {
  background-color: rgba(0, 0, 0, 0);
}
.resumeGameAnimatedButton::before {
  border-top-color: rgba(0, 0, 0, 0.7);
  border-bottom-color: rgba(0, 0, 0, 0.7);
}

// ----------------------------------------

.gameOverStatistics {
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
  width: 100%;
  align-self: center;
  padding: 50px 200px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.gameStatisticsList .ant-list-item-meta-title {
  color: white;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
}

.gameStatisticsList svg {
  color: white;
  height: 30px;
  width: 30px;
  margin-left: 100px;
}

.gameStatisticsList span {
  color: white;
  font-size: 20px;
  margin-right: 100px;
}

.gameOverAnimatedButton {
  height: 45px;
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
  font-size: 20px;
  line-height: 45px;
}

.newHighScoreContainer {
  display: inline-flex;
  margin: 20px 0;
  width: 100%;
  div {
    width: 50%;
    text-align: left;
    padding-left: 100px;
  }
  input {
    width: 50%;
    font-size: @fontBody;
    text-align: right;
  }
}
