.modalTitleCentered {
  width: 200px;
  text-align: center;
}

.pauseIcon {
  font-size: 150px;
  color: @secondaryColor;
}

.pausedGameModal {
  .pauseIcon {
    font-size: 150px;
    color: @secondaryColor;
  }
}
