// ----------------------------------
// CustomDragLayer
.joyrideGamePage {
  .dragLayer {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .joyrideGamePage {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}